@font-face {
  font-family: "helvetica1";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica1.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "helvetica2";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica2.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "helvetica3";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica3.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html {
  font-family: helvetica1; }

.helvetica2 {
  font-family: helvetica2; }

.helvetica3 {
  font-family: helvetica3; }

.nav-wrapper a img {
  padding-top: 17px;
  margin-left: 20px; }
.nav-wrapper li a {
  font-family: helvetica2; }
  .nav-wrapper li a:hover {
    color: #4f82c2; }
  .nav-wrapper li a:active {
    color: #4f82c2; }

.side-nav {
  top: 56px;
  height: 600px; }

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: none; }

#sidenav-overlay {
  background: none;
  height: 0vh; }

.drag-target {
  z-index: -1; }

.side-nav-content {
  color: white;
  text-align: center;
  /*ANIMACION DEL NAVBAR SCROLL */ }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes headroom--unpinned {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@keyframes headroom--unpinned {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.slideUp {
  -webkit-animation-name: headroom--unpinned;
  animation-name: headroom--unpinned;
  animation-duration: 1s; }

@-webkit-keyframes headroom--pinned {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes headroom--pinned {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideDown {
  -webkit-animation-name: headroom--pinned;
  animation-name: headroom--pinned; }

.background-main {
  background: url("../img/inicio/main/04.png") center top no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-top: 55px;
  text-align: center; }
  .background-main h1 {
    font-family: helvetica2;
    font-weight: bold;
    font-size: 40px;
    max-width: 500px;
    display: block;
    margin: auto;
    padding-top: 15%; }

.background-video {
  background-color: #1e1e1e;
  width: 100%; }
  .background-video video {
    width: 90%;
    max-height: auto;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px; }

.why-container {
  padding-top: 20px;
  padding-bottom: 20px; }
  .why-container .row p {
    text-align: center;
    font-family: helvetica2;
    font-size: 20px; }
  .why-container .row .why-text {
    text-align: center;
    font-family: helvetica3;
    font-size: 25px; }
  .why-container .row img {
    background-color: black;
    display: block;
    margin: auto;
    max-width: 70px;
    height: auto;
    margin-top: 20px; }

.how {
  background: black;
  height: 640px;
  padding-top: 15px;
  color: white; }
  .how .how-text h3, .how .how-text span {
    font-family: helvetica3; }
  .how .how-iphone {
    background-image: url("../img/inicio/how/is.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 290px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; }
    .how .how-iphone .slider-how {
      max-width: 260px;
      height: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .how .how-iphone .slider-how .slides {
        background-color: rgba(255, 255, 255, 0); }
        .how .how-iphone .slider-how .slides li {
          margin-top: 80px; }
        .how .how-iphone .slider-how .slides img {
          height: 440px; }

.sell .explorar-d {
  margin-top: 60px; }
  .sell .explorar-d .explorar-4 {
    font-family: helvetica3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 20px; }
    .sell .explorar-d .explorar-4 p {
      margin: 0px; }
    .sell .explorar-d .explorar-4 p:nth-child(1) {
      font-size: 50px;
      line-height: 16px;
      letter-spacing: 6px; }
    .sell .explorar-d .explorar-4 p:nth-child(2) {
      font-size: 40px;
      line-height: 65px;
      letter-spacing: 8px; }
.sell .carousel-sell-css {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 380px;
  margin-bottom: 60px; }
  .sell .carousel-sell-css .item-sell {
    background: url("../img/explorar/lastsell/01.png") no-repeat;
    background-size: cover;
    width: 700px;
    height: 300px;
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .sell .carousel-sell-css .item-sell .row.carousel-text {
      max-width: 460px;
      color: black; }
      .sell .carousel-sell-css .item-sell .row.carousel-text .carousel-item-1 {
        font-size: 10px;
        text-align: center;
        line-height: 13px;
        margin-top: 20px; }
        .sell .carousel-sell-css .item-sell .row.carousel-text .carousel-item-1 p {
          margin: 0px; }
      .sell .carousel-sell-css .item-sell .row.carousel-text .carousel-item-2 p:nth-child(1) {
        font-size: 30px;
        line-height: 16px;
        margin-bottom: 10px; }
      .sell .carousel-sell-css .item-sell .row.carousel-text .carousel-item-2 p:nth-child(2) {
        font-size: 14px; }
      .sell .carousel-sell-css .item-sell .row.carousel-text .carousel-item-2 a, .sell .carousel-sell-css .item-sell .row.carousel-text .carousel-item-2 button {
        width: 150px;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
        padding-bottom: 8px; }
      .sell .carousel-sell-css .item-sell .row.carousel-text .carousel-item-1, .sell .carousel-sell-css .item-sell .row.carousel-text .carousel-item-2 {
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .sell .carousel-sell-css .item-sell img {
      width: 100px;
      height: auto; }

@media screen and (max-width: 500px) {
  .carousel-item-2 {
    text-align: center; } }
@media screen and (min-width: 600px) {
  .carousel-text {
    padding-top: 10%; } }
.parallax-container {
  background-color: rgba(0, 0, 0, 0.6);
  color: white; }
  .parallax-container .row p {
    text-align: center;
    font-family: helvetica2; }
  .parallax-container .row .why-text {
    text-align: center;
    font-family: helvetica2;
    font-size: 35px; }
  .parallax-container .parallax img {
    width: 100%;
    transform: translate3d(-150%, 103px, 0px); }

.partner {
  margin-left: auto;
  margin-right: auto; }
  .partner p {
    text-align: center; }
  .partner img {
    max-width: 100px;
    display: block;
    margin: auto; }

/*# sourceMappingURL=inicio.css.map */
