@font-face {
  font-family: "helvetica1";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica1.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "helvetica2";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica2.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "helvetica3";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Helvetica3.otf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
html {
  font-family: helvetica1; }

.helvetica2 {
  font-family: helvetica2; }

.helvetica3 {
  font-family: helvetica3; }

.nav-wrapper a img {
  padding-top: 17px;
  margin-left: 20px; }
.nav-wrapper li a {
  font-family: helvetica2; }
  .nav-wrapper li a:hover {
    color: #4f82c2; }
  .nav-wrapper li a:active {
    color: #4f82c2; }

.side-nav {
  top: 56px;
  height: 600px; }

.navbar-fixed {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: none; }

#sidenav-overlay {
  background: none;
  height: 0vh; }

.drag-target {
  z-index: -1; }

.side-nav-content {
  color: white;
  text-align: center;
  /*ANIMACION DEL NAVBAR SCROLL */ }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes headroom--unpinned {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@keyframes headroom--unpinned {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.slideUp {
  -webkit-animation-name: headroom--unpinned;
  animation-name: headroom--unpinned;
  animation-duration: 1s; }

@-webkit-keyframes headroom--pinned {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes headroom--pinned {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideDown {
  -webkit-animation-name: headroom--pinned;
  animation-name: headroom--pinned; }

.perfil {
  margin-top: 120px; }

.perfil-foto {
  display: inline-block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden; }
  .perfil-foto img:hover {
    cursor: pointer; }
  .perfil-foto .image-upload input {
    display: none; }
  .perfil-foto image-circle {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: center; }

.perfil-text p:nth-child(1) {
  font-family: helvetica3;
  font-size: 25px; }
.perfil-text p:nth-child(2) {
  font-family: helvetica2;
  font-size: 23px; }

.preferencias {
  margin-top: 100px; }
  .preferencias .preferencias-prenda {
    width: 220px;
    height: 100%;
    border: 2px solid black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px; }
    .preferencias .preferencias-prenda img {
      max-width: 200px;
      height: auto; }
  .preferencias .botonesComprar {
    width: 100%;
    font-family: helvetica2;
    font-size: 17px; }
  .preferencias .botonesGuardar {
    max-width: 300px;
    font-family: helvetica3;
    font-size: 23px;
    margin-top: 50px; }

/*# sourceMappingURL=perfil.css.map */
