.nav-wrapper
  a
    img
      padding-top: 17px
      margin-left: 20px
  li
    a
      font-family: helvetica2
      &:hover
        color: rgba(79, 130, 194, 1)
      &:active
        color: rgba(79, 130, 194, 1)

.parallax-container
  background-color: rgba(0, 0, 0, 0.6)

.parallax
  img
    height: 700px
    transform: translate3d(-70%, 103px, 0px)

//INICIO - WHY USE GENTO
.how
  background: black
  height: 640px
  padding-top: 15px
  color: white
  .how-text
    h3, span
      font-family: helvetica3
    span
  .how-iphone
    background-image: url("../img/inicio/how/is.png")
    background-repeat: no-repeat
    background-size: contain
    width: 290px
    height: 600px
    margin-left: auto
    margin-right: auto
    .slider-how
      max-width: 260px
      height: 500px
      display: block
      margin-left: auto
      margin-right: auto
      .slides
        background-color: rgba(255, 255, 255, 0)
        li
          margin-top: 80px
        img
          height: 440px


//INICIO - SELECCIONES RECIENTES
.selections
  h3
    text-align: center
  .selections1
    max-height: 370px
    width: 218px
    .selections2
    img
      max-height: 300px
      width: 218px

.card
  margin-left: auto
  margin-right: auto
  .card-content
    padding: 10px
    .card-title-size
      font-size: 18px
      line-height: 30px

//INICIO - PARTNERS
.partner
  margin-left: auto
  margin-right: auto
  p
    text-align: center
  img
    max-width: 100px
    display: block
    margin: auto
